#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide:nth-child(1n) {
  background-color: #678157;
}

.swiper-slide:nth-child(2n) {
  background-color: #606c38;
}
.swiper-slide:nth-child(3n) {
  background-color: #a7c957;
}

.swiper-button-next{
  color: #333D29;
  transition: all .3s;
}
.swiper-button-prev{
  color: #333D29;
  transition: all .3s;
}
.swiper-button-next:hover{
  transform: scale(1.05);
  font-weight: bold;
}
.swiper-button-next:hover{
  transform: scale(1.05);
  font-weight: bold;
}
.swiper-button-prev:hover{
  transform: scale(1.05);
  font-weight: bold;
}